* {
    box-sizing: border-box;
}

html, body, div, p {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #D8EEFB;
    font-family: sans-serif;
}

footer {
    display: none;
}

.mainpage {
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar {
    display: flex;
    background-color: white;
    height: 100%;
    width: 20%;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.rightpage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rightpage .topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #8FDAFD;
    height: 5%;
    width: 100%;
}

.rightpage .sidebar {
}


.dropdowncontent a{
    padding: 12px;
    display: block;
    float: none;
    color: #808080;
    text-decoration: none;
}

.facebooklogo {
    width: 30px;
    height: 30px;
}

.redditlogo {
    width: 30px;
    height: 30px;
}

.twitterlogo {
    width: 30px;
    height: 30px;
}
