* {
    box-sizing: border-box;
}

html, body, div, p {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #A4DBF2;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

/*side menu contents*/
aside {
    display: none;
}
.containersearch {
    display: none;
}

/*top bar contents*/
.biglogo {
    display: none;
}

.cotainer {
    display: flex;
    position: relative;
}

.top-bar {
    background-color: #D8EEFB;
    height: 10%;
}

#hamburger-menu a{
    color: white;
    font-size: 4rem;
    margin-right: .5em;
    margin-left: .2em;
}

.mainpagelogo {
    width: 150px;
    height: 70px;
    position: absolute;
    right: 0;
}

/*main contents*/
.bubble {
    display: block;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
}

.hellouser {
    display: block;
    position: relative;
    margin-top: -33%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}

.hellouser p{
    text-align: center;
    color: #A4DBF2;
    font-weight: bold;
}

/*footer contents*/
footer {
    display: block;
}

/*medium size of screen*/
@media (min-width: 598px) {
    body {
        background-color: #B2F5D5;
    }

    .hellouser p {
        color: #5FDB9F;
    }
}

/*mid-large screen size*/
@media (min-width: 768px) {
    body{
        background-color: #9AB9F4;
    }

    .top-bar {
        background-color: #A4DBF2;
    }
    
    .mainpagelogo {
        display: none;
    }

    .biglogo{
        width: 150px;
        height: 70px;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
    }


    .hellouser p {
        color: #9AB9F4;
        font-size: 60px;
        top: 30px;
        left: 30px;
    }
}

/*large size screen*/
@media (min-width: 992px) {
    body {
        background-color: #D8EEFB;
    }

    .top-bar {
        background-color: #A4DBF2;
        height: 100px;
    }

    .biglogo {
        display: block;
        width: auto;
        height: 80px;
        position: absolute;
        margin-right: .5em;
        margin-left: 1em;
        margin-top: .5em;
    }

    .mainpagelogo, #hamburger-menu a {
        display: none;
    }

    .speechbubble {
        margin-left: 15rem;
        margin-right: 10rem;
        margin-top: 5rem;
    }

    .hellouser p {
        color: #A4DBF2;
    }

    aside {
        display: flex;
        background-color: white;
        width: 20%;
    }

    .sidebar {
        padding-top: 2em;
        padding-left: 1em;
    }

    /*this search box resource is from https://www.w3schools.com/howto/howto_css_searchbar.asp*/
    .containersearch {
        display: flex;
        padding-bottom: 2rem;
        padding-right: 1rem;
    }

    .containersearch button:hover {
        background: #D8EEFB;
    }

    ul {
        margin: 0;
        padding: 0;
        padding-top: .5rem;
        display: inline-block;
    }

    li {
        display: block;
        margin-bottom: 2rem;
    }

    li a{
        font-size: 1.5vw;
        padding-top: 1rem;
        padding-bottom: 1rem;
        left: 0;
        color: #808080;
        text-decoration: none;
    }

    li a:hover {
        color: #A4DBF2;
        border-bottom: .6rem solid #A4DBF2;
        padding-bottom: .8rem;
    }
}


/* 
.sidebar {
    display: none;
    background-color: white;
    height: 100%;
    width: 20%;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.rightpage {
    display: none;
    flex-direction: column;
    width: 100%;
}

.rightpage .topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #8FDAFD;
    height: 5%;
    width: 100%;
}

.dropdowncontent a{
    padding: 12px;
    display: block;
    float: none;
    color: #808080;
    text-decoration: none;
}

.facebooklogo {
    width: 30px;
    height: 30px;
}

.redditlogo {
    width: 30px;
    height: 30px;
}

.twitterlogo {
    width: 30px;
    height: 30px;
} */