* {
    box-sizing: border-box;
}

.side {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 40%;
    height: 100%;
    background-color: #A4DBF2;
    text-align: center;
}

.info {
    position: fixed;
    left: 40%;
    top: 0px;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

.welcomelogo {
    position: center;
    padding-top: 50%;
}

.items{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

I changed something